{% extends 'main_app/base.html' %}
{% load static %}
{% block custom_css %}
  <style>
      .invalid{
        font-style: italic;
        font-weight: bold;
        color: red;
      }
      .valid{
        font-style: italic;
        font-weight: bold;
        color: green;
      }
  </style>
{% endblock custom_css %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>

                    <form role="form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.non_field_errors }}

                            <div class="row">
                                <div class="col-md-6 form-group">
                                    {{ form.first_name.label_tag }}
                                    {{ form.first_name }}
                                    {{ form.first_name.errors }}
                                </div>
                                <div class="col-md-6 form-group">
                                    {{ form.last_name.label_tag }}
                                    {{ form.last_name }}
                                    {{ form.last_name.errors }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group">
                                    {{ form.date_of_birth.label_tag }}
                                    {{ form.date_of_birth }}
                                    {{ form.date_of_birth.errors }}
                                </div>
                                <div class="col-md-6 form-group">
                                    {{ form.gender.label_tag }}
                                    {{ form.gender }}
                                    {{ form.gender.errors }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group">
                                    {{ form.registration_number.label_tag }}
                                    {{ form.registration_number }}
                                    {{ form.registration_number.errors }}
                                </div>
                                <div class="col-md-6 form-group">
                                    {{ form.roll_number.label_tag }}
                                    {{ form.roll_number }}
                                    {{ form.roll_number.errors }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form.phone_number.label_tag }}
                                {{ form.phone_number }}
                                {{ form.phone_number.errors }}
                            </div>

                            <div class="form-group">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                                {{ form.email.errors }}
                            </div>

                            <div class="form-group">
                                {{ form.address_line1.label_tag }}
                                {{ form.address_line1 }}
                                {{ form.address_line1.errors }}
                            </div>

                            <div class="form-group">
                                {{ form.address_line2.label_tag }}
                                {{ form.address_line2 }}
                                {{ form.address_line2.errors }}
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group">
                                    {{ form.city.label_tag }}
                                    {{ form.city }}
                                    {{ form.city.errors }}
                                </div>
                                <div class="col-md-6 form-group">
                                    {{ form.province.label_tag }}
                                    {{ form.province }}
                                    {{ form.province.errors }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form.profile_pic.label_tag }}
                                {{ form.profile_pic }}
                                {{ form.profile_pic.errors }}
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group">
                                    {{ form.course.label_tag }}
                                    {{ form.course }}
                                    {{ form.course.errors }}
                                </div>
                                <div class="col-md-6 form-group">
                                    {{ form.session.label_tag }}
                                    {{ form.session }}
                                    {{ form.session.errors }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group">
                                    {{ form.shift.label_tag }}
                                    {{ form.shift }}
                                    {{ form.shift.errors }}
                                </div>
                                <div class="col-md-6 form-group">
                                    {{ form.current_semester.label_tag }}
                                    {{ form.current_semester }}
                                    <small class="form-text text-muted">{{ form.current_semester.help_text }}</small>
                                    {{ form.current_semester.errors }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form.password.label_tag }}
                                {{ form.password }}
                                {{ form.password.errors }}
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-success btn-block">Add Student</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block custom_js %}
<script>
    function validateEmail(email) {
        const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }
    $(document).ready(function () {
        // Registration number: 12 digits, auto-grouped as XXXX-XXXX-XXXX
        $('#id_registration_number').attr({ inputmode: 'numeric', placeholder: 'XXXX-XXXX-XXXX', maxlength: 14 });
        $('#id_registration_number').on('input', function () {
            var digits = this.value.replace(/\D/g, '').slice(0, 12);
            this.value = digits.replace(/(\d{4})(?=\d)/g, '$1-');
        });
        // Roll number: digits only, max 6
        $('#id_roll_number').attr({ inputmode: 'numeric', placeholder: '6-digit roll number', maxlength: 6 });
        $('#id_roll_number').on('input', function () {
            this.value = this.value.replace(/\D/g, '').slice(0, 6);
        });

        $("#id_email").keyup(function () {
            var email = $(this).val()
            if (validateEmail(email)) {
                $.ajax({
                    url: "{% url 'check_email_availability' %}",
                    type: 'POST',
                    data: { email: email }
                }).done(function (response) {
                    if (response == "True") {
                        $(".email_error").remove()
                        $("<span class='invalid email_error'>Email Address Already Exist</span>").insertAfter("#id_email");
                    }
                    else {
                        $(".email_error").remove()
                        $("<span class='valid email_error'>Email Address Available</span>").insertAfter("#id_email");
                    }
                }).fail(function (response) {
                    $("<span class='alert alert-warning'>Server Could Not Process This</span>").insertAfter("#id_email");
                })
            }
        })
    });
</script>
{% endblock custom_js %}
